.notes-class{

    display: block;
    width: 800px;
    padding: 20px;
    margin: 15px;
    border: 1px solid #CCCCCCFF;
    background-color: #f9f9f9;
}

.all-notes-class{
     display: block;
    width: 900px;
    padding: 20px;
    margin: 15px;
    border: 1px solid #CCCCCCFF;
    background-color: #f9f9f9;
}